<h1>Announces#new</h1>
<p>Find me in app/views/announces/new.html.erb</p>


<%= form_for(@announce) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>



  <%= f.submit  %>
<% end %>
