







<div class="container">
<div class="row">

<div class="col-lg-10 col-lg-offset-1">





<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <% @announce.photos.each_with_index do |p, index| %>

    <div class="item <%= "active" if index == 0  %>">
      <%= image_tag p.photo_url(:standard), class: "img-responsive" %>
      <div class="carousel-caption">
        <h3> <%= @announce.name %> </h3>
        <p> <%= @announce.description %> </p>
      </div>
    </div>
    <% end %>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
      var coord = <%= raw @announce_coordinates %>;
      alert('Announce coordinates are ' + coord.lat + ', ' + coord.lng);
      });
      <% end %>
    <% end %>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>



<% content_for :after_js do %>
<script>
  $('.carousel').carousel({
    interval: 4000
  })

</script>


<% end %>
 </div>

  </div>

